* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: linear-gradient(180deg, #e6c11c, #38d88d, #563656, #c766ee);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }
  
  @media (max-width : 400px) {
      .container {
          flex-direction: column;
          position: relative;
          width: 90vw;
          margin: auto;
          /* justify-content: space-around; */
          align-items: center;
      }

  }

  
  .text {
    color: #777;
    margin-top: 10px;
  }
  .card:hover .text {
    color: #ccc;
  }
  
  h1,
  h3 {
    text-align: center;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  h3 {
    font-family: cursive;
  }
  .pro {
    text-decoration: underline;
  }
  .view {
      padding: 10rem 1rem;
      text-align: center;
      margin: auto;
      width: 80%;
  }

  ol {
      list-style-position: inside;
      list-style-type: decimal;
  }
  li {
      font-weight: 700;
    font-size: larger;
  }

  p {
      font-weight: 500;
      font-size: large;
  }

  .imgS {
    width: 90vw;
    margin: auto;
    text-align: center;
  }
